 <div class="col-md-6 col-md-offset-3 text-left">
	<div class="text-center">
<h1>Novo treino</h1>
</div>

<%= render 'form' %>
<br><br><br>

<%= link_to 'Voltar', treinos_path %>
<br><br><br>

</div>
