<div class="container home">
	<div class="row">
		<div class="col-md-6">
			<div class='boxVideo'>
				
				<iframe width="500" height="290" src="https://www.youtube.com/embed/mgmVOuLgFB0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-md-6">
			<div class='img'>
				<%= image_tag "icon.jpg"%> 
			</div>
		</div>

		
	</div>
</div>
