	<div class="txt-centro">
		<h1><%= title 'Seu app fitness para malhar' %> <span>   <%= fa_icon "thumbs-o-up"%></span></h1>
	</div>

<div class="container home">
	<div class="row">
		<div class="col-md-6">
			<div class='video-container'>
				
				<iframe width="500" height="290" src="https://www.youtube.com/embed/mgmVOuLgFB0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-md-6">
		
				<p>Marketing area</p>
				<p>Marketing area</p>
				<p>Marketing area</p>
				<p>Marketing area</p>
				<p>Marketing area</p>
				<p>Marketing area</p>
				<p>Marketing area</p>
				<p>Marketing area</p>
				<p>Marketing area</p>
				<p>Marketing area</p>
				
		
		</div>

		
	</div>
</div>
