<div class="container home">
	<div class="row">
		<div class="col-md-6">
			<div class='video-container'>
				
				<iframe width="500" height="290" src="https://www.youtube.com/embed/mgmVOuLgFB0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-md-6">
		
				<h3>Marketing area</h3>
				<h3>Marketing area</h3>
				<h3>Marketing area</h3>
				<h3>Marketing area</h3>
				<h3>Marketing area</h3>
		
		</div>

		
	</div>
</div>
