<h1>Editing medida</h1>

<%= render 'form' %>

<%= link_to 'Destroy', @medida, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Show', @medida %> |
<%= link_to 'Back', medidas_path %>

