<h1>Editar medida</h1>

<%= render 'form' %>

<%= link_to 'Apagar', @medida, method: :delete, data: { confirm: 'Você tem certeza?' } %>

<%= link_to 'Mostrar', @medida %> |
<%= link_to 'Voltar', medidas_path %>

