<div class="col-md-6 col-md-offset-3 text-left">
	<div class="text-center">
<h1>Novas medidas</h1>
</div>

<%= render 'form' %>
<br><br><br>

<%= link_to 'Voltar', medidas_path %>
<br><br><br>
</div>
