// Place all the styles related to the medidas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (max-width: 800px) {
	#unseen table td:nth-child(2), 
	#unseen table th:nth-child(2) {display: none;}
}

@media only screen and (max-width: 640px) {
	#unseen table td:nth-child(4),
	#unseen table th:nth-child(4),
	#unseen table td:nth-child(7),
	#unseen table th:nth-child(7),
	#unseen table td:nth-child(8),
	#unseen table th:nth-child(8){display: none;}
}
table {
	border-collapse:collapse;
	border:3px solid #CCC;
}

#table tr {
	border:1px solid #CCC;
}

#table td {
	width:100px;
	height:40px;
	padding:10px;
	border:1px solid #CCC;
}