<div class="container">
  <div class="row" >

    <div class="col-md-6"> 

      <div id="gpizza"> </div>

      <%= javascript_include_tag "gpizza.js" %>

    </div>

    <div class="col-md-6"> 

      <div id="gimc"></div>

      <%= javascript_include_tag "gimc.js" %>

    </div>
  </div>


  <div class="row" >

    <div class="col-md-6"> 

      <div id="gcol"> </div>

      <%= javascript_include_tag "gcol.js" %>

    </div>

    <div class="col-md-6"> 

      <div id="glinha"> </div>

      <%= javascript_include_tag "glinha.js" %>

    </div>

  </div>
</div>
